<div class="container mb-0">
    <div class="container-header d-flex justify-content-between align-items-start">
        <h3>{{ "book_list" | translate }}</h3>

        <!-- <div class="btn-container">
          <button mat-button class="m-button-primary s-md">
            <mat-icon>sync_alt</mat-icon>{{ "verify_data" | translate }}
          </button>
        </div> -->
    </div>

    <div class="m-container" [formGroup]="searchDataGroup">
        <div class="form-row d-flex gap-2 mb-0 mt-1">
            <div class="m-form form-group col-md-4 col-lg-3 mb-3">
                <label>{{ "search" | translate }}</label>
                <input type="text" id="search" class="form-control" formControlName="search" (keyup.enter)="onSearch()" trimInput />
            </div>
            <div class="m-form form-group col-md-4 col-lg-3 mb-3">
                <label>{{ 'book_category' | translate }}</label>
                <app-select formControlName="book_category">
                    <app-option *ngFor="let item of transfer_status" [value]="item.code">
                        {{ item.name.toLowerCase() | translate }}
                    </app-option>
                </app-select>
            </div>
            <div class="btn-filter-group mt-3">
                <button type="button" mat-button class="m-button-outlined s-md" (click)="onResetForm()">
                    <mat-icon>autorenew</mat-icon>{{ "clear" | translate }}
                </button>
    
                <button mat-button class="m-button-primary s-md" (click)="onSearch()">
                    <mat-icon>search</mat-icon>{{ "search" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container pt-0">
    <div class="m-container">
        <app-table-template [setup]="bookTable" (onPageChange)="onPageChange($event)"
            (onView)="onViewDetail($event)">
        </app-table-template>
    </div>
</div>

