.container {
	background: #D6E0E2;
    // padding: 30px 35px;
    box-shadow: unset !important;
    max-width: unset !important;
    .container {
      //nested container
      padding: 0px;
    }
    display: flex;
	height: 100%;
    .right-side {
		width: 20%;
		background: #162A2C;
		padding: 20px;
		position: relative;
		text-align: center;
		overflow: hidden;
        height: 100%;
        .bg-right-side {
            position: absolute;
            z-index: -1;
            top: -798px;
            left: -616px;
            right: -1100px;
        }

		.box-content {
			position: fixed;
			top: 18%;
			left: 3%;
			// transform: translate(-50%, -50%);

			.header {
				position: relative;
				text-align: center;
				justify-content: center;
				margin-bottom: 3rem;
				left: 25%;
				h1 {
					font-size: 1.3rem;
					font-weight: bold !important;
					line-height: 2;
					color: white;
				}

				p {
					font-size: 16px;
					margin-top: 25px;
					color: #ffffff;
				}

				.logo {
					img {
						width: 130px;
						margin-bottom: 20px;
						background-color: white;
						border-radius: 50%;
					}
				}
                .title {
                    display: ruby-text;
                    text-align: center;
                    justify-content: center;
                    mat-icon {
                        // font-size: sm;
                        color: white;
                        padding-left: 7px;
                        padding-top: 10px;
                        line-height: 1.4;
                    }
                }
			}
            .side-nav {
				position: fixed;
                width: 310px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .nav-item {
                    color: white;
                    background: none;
                    border-radius: 10px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    padding: 0px 40px;
                    gap: 25px;
                    h3 {
                        padding-top: 5px;
                    }
                }
            }
			.side-nav :hover {
				border-color: 1px solid white;
			}
		}
	}

	.left-side {
		flex: 1;
        width: 100%;
		background: #D6E0E2;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;
		height: 100%;
		.box-content {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 100%;

			.nav-bar {
					display: flex;
					justify-content: space-between;
					align-items: center;
					background-color: whitesmoke;
					position: fixed;
					top: 0;
					left: 422px;
					right: 0;
					/* width: 97.3%; */
					min-height: 30px;
					padding: 10px 20px;
					box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
					gap: 1180px;
			
					.right {
						margin-left: 0px;
					}
			
					.left {
						margin-right: 0px;
					}
				}
		}
	}

}
.btn {
	border: none;
	background: transparent;
	cursor: pointer;
}
.nav-icon {
	width: 50px;
	height: auto;
	color: rgb(1, 180, 186) !important;
	font-size: 30px;
}
