<div class="container">
    <div class="right-side">
        <div class="box-content">
            <div class="header">
                <div class="logo">
                    <img src="/assets/logo.png" alt="Logo">
                </div>
                <div class="title">
                    <h1>Online Bookstore</h1>
                    <mat-icon>auto_stories</mat-icon>
                </div>
            </div>
            <nav class="side-nav">
                <button mat-raised-button class="nav-item" routerLink="book-list" routerLinkActive="active-link">
                    <mat-icon>menu_book</mat-icon>
                    <h3>Book List</h3> 
                </button>
                <button mat-raised-button class="nav-item" routerLink="book-create" routerLinkActive="active-link">
                    <mat-icon>create_new_folder</mat-icon>
                    <h3>Book Form Create</h3> 
                </button>
            </nav>
        </div>
    </div>
    <div class="left-side">
        <router-outlet></router-outlet>
    </div>
</div>