@import "../../styles/variables";
@import "../../styles/styles.scss";

.flag {
  height: auto !important;
}

h1 {
  white-space: pre-wrap;
  text-align: center;

  &.close-menu {
    display: none;
  }
}

#navigation {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .menu-close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 50%);
    display: none;
    z-index: 5;

    &.open {
      display: block;
    }
  }

  #menu {
    width: 350px;
    min-width: 350px;
    transition: 250ms ease-out;
    // background-image: url("/assets/images/sidenav-background.svg");
    // background-size: cover;
    background: linear-gradient(176.12deg, #0F0C29 0%, #302B63 51.29%, #24243E 100%);

    color: #FFFFFF !important;
    display: flex;
    flex-direction: column;
    z-index: 1000;

    ::ng-deep {
      .mat-mdc-list-item {
        color: inherit;
        border-radius: 10px;
        margin: 5px 0;
        overflow: hidden;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      button {
        &.mat-mdc-list-item {
          background-color: transparent;
          border: none;
        }
      }
    }

    ::ng-deep a {
      transition: background-color 0.3s;
      background-color: rgba(255, 255, 255, 0);
      background-size: 0;

      &.active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    &.close-menu {
      width: 84px;
      min-width: 84px;

      .brand-wrapper {
        max-height: 112px;
      }
    }

    &.handset {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 300px;
      // z-index: 10;
      transform: translateX(-100%);

      &.open-menu {
        transform: translateX(0);
      }

      &.menu-close {
        transform: translateX(-100%);
      }
    }

    ::ng-deep .main-menu {
      padding-right: 16px;
      padding-left: 16px;

      .icon-info {
        overflow: visible;
      }
    }

    ::ng-deep .sub-menu {
      padding-left: 48px;
      padding-top: 0;
      background: #00000021;
      margin-left: -16px;
      width: calc(100% + 20px);
    }

    ::ng-deep .sub-menu-icon-only {
      padding-left: 16px;
      padding-top: 0;
      background: #00000021;
      margin-left: -16px;
      width: calc(100% + 20px);
    }

    // .menu {
    //   padding-top: 0;
    // }
    .menu-list {
      overflow-y: auto;
      flex: 1;
    }

    ::ng-deep .menu-title {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2;
      font-size: 16px !important;
    }

    .brand-wrapper {
      max-height: 242px;
      transition: max-height 350ms ease-out;
      padding: 20px 0;

      // padding-top: 16px;
      &.shadow {
        box-shadow: 0 0 15px rgb(255 255 255 / 20%) !important;
      }

      h1 {
        margin: 8px;
        margin-top: 12px;
        font-size: 18px;
        color: inherit;
        width: 320px;
      }
    }
  }
}

.sidenav-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  #main {
    height: calc(100% - 66px);
    overflow: auto;
    background-color: #f3f6f9;
  }

  .app-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 64px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 7%);
    z-index: 100;

    .toggle-sidenav {
      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .more-option {
      display: flex;
      align-items: center;

      .icon {
        margin-left: 6px;
        display: flex;
      }

      img,
      app-user-image {
        margin: 0 8px;
      }
    }

    .sub-header {
      font-size: 16px;
      color: $main-color;
      text-shadow: 0.7px 0 0 currentColor;
      padding-top: 3px;
      margin-left: 12px;
      margin-top: -6px;

      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

::ng-deep .mat-mdc-list-item {
  ::ng-deep .mdc-list-item__content {
    display: flex;
    justify-content: space-between;

    .mdc-list-item__primary-text {
      color: white !important;
      letter-spacing: normal !important;
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    mat-icon {
      font-size: 20px !important;
      min-width: 20px;
      width: 20px;
      height: 20px;
      vertical-align: text-bottom;
    }

    mat-icon.menu-icon {
      margin-right: 1rem;
    }

    mat-icon.expand-icon {
      margin-left: auto;
    }
  }
}

.user-card {
  span.username {
    font-size: 15px;
  }
}

.logo {
  --logo-size: 118px;
  --bg-logo-size: calc(var(--logo-size) + 12px);

  width: calc(var(--logo-size));
  height: calc(var(--logo-size));
  background: white;
  border-radius: 50%;
  position: relative;
  transition: all .2s;

  &.small-logo {
    --logo-size: 68px;	
    --bg-logo-size: calc(var(--logo-size) + 8px);
  }

  &::before {
    content: ' ';
    // background-image: url(../../../../assets/images/Logo_NSSF-192.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--bg-logo-size);
    height: var(--bg-logo-size);
  }
}

.avatar-wrapper {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
}

.action-btn {
  position: fixed;
  bottom: 50px;
  z-index: 9999999;
  right: 34px;

  .move-top {
    &.mat-mdc-icon-button.mat-mdc-button-base {
      --mdc-icon-button-state-layer-size: 40px;
    }
  }
}
